*
{
	margin:0px;
	padding:0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
/***
TYPOGRAPHY ADAPTED FROM SKELETON CSS
@http://www.getskeleton.com/#typography
****/
body
{
	background: #df5a49;
	font: 16px/24px 'Lato', sans-serif;
	font-weight: 100;
	/*min-width: 650px;*/
	min-height: 450px;
	z-index: 10;
}
h1, h2, h3, h4, h5, h6
{
	color: #181818;
	font-weight: 200;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
	font-weight: inherit;
}
h1
{
	font-size: 46px;
	line-height: 50px;
	margin-bottom: 14px;
	color: #45b29d;
}
h2
{
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 10px;
}
h3
{
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 8px;
}
h4
{
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 4px;
}
h5
{
	font-size: 17px;
	line-height: 24px;
}
h6
{
	font-size: 14px;
	line-height: 21px;
}

p
{
	margin: 0 0 20px 0;
}
p img
{
	margin: 0;
}
p.lead
{
	font-size: 21px;
	line-height: 27px;
	color: #777;
}

em
{
	font-style: italic;
}
strong
{
	font-weight: bold;
	color: #333;
}
small
{
	font-size: 80%;
}

/*	Blockquotes  */
blockquote, blockquote p
{
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote
{
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite
{
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before
{
	content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited
{
	color: #555;
}

hr
{
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}

.clear
{
	clear: both;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.wrapper
{
	width: 100%;
	margin: 0 auto;
	max-width: 1100px;
	-webkit-box-shadow: 3px 0px 15px 0px rgba(34, 34, 34, 0.4);
	-moz-box-shadow:    3px 0px 15px 0px rgba(34, 34, 34, 0.4);
	box-shadow:         3px 0px 15px 0px rgba(34, 34, 34, 0.4);
}

/******** HEADER ************/
.header
{
	background: #334d5c;
	height: 110px;
	line-height: 110px;
}
.name
{
	margin-left: 180px;
	font-size: 48px;
	color: #fff;
	text-transform: uppercase;
}
.social
{
	line-height: 110px;
	margin-right: 30px;
}
.social img
{
	vertical-align: middle;
}

/********* MENU ****************/
.menu
{
	height: 100%;
	position: fixed;
	width: 180px;
	padding-top: 120px;
	background: #334d5c;
}
.menu_list
{
	list-style: none;
}
.menu_item
{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}
.menu_item.selected
{
	font-weight: 400;
}
.menu_list li
{
	background: url('../img/menubg.png') no-repeat;
	height: 77px;
	line-height: 77px;
	margin-left: -22px;
}
.menu_text
{
	margin-left: 35px;
}

/******** CONTENT *********/
.content
{
	margin-left: 180px;
	color: #525763;
	background: #fff;
	z-index: 100
}
.content_inner
{
	padding: 20px;
}
.overlap
{
	position: fixed;
	top: 0;
	left: 50%;
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
	/* center a fluid div using magical translate */
	-webkit-transform: translate(-50%, 0%);
	-moz-transform:    translate(-50%, 0%);
	-ms-transform:     translate(-50%, 0%);
	-o-transform:      translate(-50%, 0%);
	transform:         translate(-50%, 0%);
	-webkit-box-shadow: 3px 0px 15px 0px rgba(34, 34, 34, 0.4);
	-moz-box-shadow:    3px 0px 15px 0px rgba(34, 34, 34, 0.4);
	box-shadow:         3px 0px 15px 0px rgba(34, 34, 34, 0.4);
}
.yellow
{
	background: #efc94c;
	z-index: -50;
	margin-left: 20px;
}
.orange
{
	background: #e27a3f;
	z-index: -75;
	margin-left: 40px;
}
/******** FOOTER *********/
.footer
{
	margin-left: 180px;
	height: 95px;
	background: #334d5c;
	color: #fff;
}
.copy
{
	line-height: 95px;
	margin-bottom: 0px;
}
.footer_nav
{
	list-style: none;
	text-align: right;
	margin-right: 20px;
	font-size: 14px;
	margin-top: 4px;
	line-height: 17px;
}
.footer_nav a
{
	text-decoration: none;
	color: #fff;
}


@media only screen and (max-width: 960px) {
	.menu
	{
	width: 125px;
	}
	.content,
	.footer,
	.name
	{
		margin-left: 125px;
	}
}
@media only screen and (max-width: 650px) {
	.menu
	{
		display: none;
	}
	.content,
	.footer,
	.name
	{
		margin-left: 0px;
	}

}

@media only screen and (max-width: 445px) {
	.social
	{
		float: left;
		line-height: inherit;
	}
	.header
	{
		height: 135px;
		line-height: 60px
	}
}
@media only screen and (max-width: 470px), only screen and (max-height:620px){
	.menu
	{
		display: none;
	}
	.content,
	.footer,
	.name
	{
		margin-left: 0px;
	}

}