*
{
	margin:0px;
	padding:0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
/***
TYPOGRAPHY ADAPTED FROM SKELETON CSS
@http://www.getskeleton.com/#typography
****/
body
{
	background: #df5a49;
	font: 16px/24px 'Lato', sans-serif;
	z-index: 10;
}
h1, h2, h3, h4, h5, h6
{
	color: #45b29d;
	font-weight: 400;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
	font-weight: inherit;
}
h1
{
	font-size: 46px;
	line-height: 50px;
	margin-bottom: 14px;
}
h2
{
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 10px;
}
h3
{
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 8px;
}
h4
{
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 4px;
}
h5
{
	font-size: 17px;
	line-height: 24px;
}
h6
{
	font-size: 14px;
	line-height: 21px;
}
.title_inner
{
	font-size: 80%;
	color: ;
}
p
{
	margin: 0 0 20px 0;
}
p img
{
	margin: 0;
}
p.lead
{
	font-size: 21px;
	line-height: 27px;
	color: #777;
}

em
{
	font-style: italic;
}
strong
{
	font-weight: bold;
	color: #333;
}
small
{
	font-size: 80%;
}

blockquote, blockquote p
{
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote
{
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite
{
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before
{
	content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited
{
	color: #555;
}

hr
{
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}

a
{
	color: #00b2dc;
	text-decoration: none;
}
a:hover
{
	color: #0784a1;
}
a:visited
{
	text-decoration: underline;
}

ul.list
{
	margin-left: 20px;
}
ul.list li
{
	margin-bottom: 10px;
}
ul.list.no_bullets
{
	list-style: none;
	margin-left: 0px;
}
.clear
{
	clear: both;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.wrapper
{
	width: 100%;
	margin: 0 auto;
	max-width: 1100px;
	-webkit-box-shadow: 3px 0px 15px 0px rgba(34, 34, 34, 0.4);
	-moz-box-shadow:    3px 0px 15px 0px rgba(34, 34, 34, 0.4);
	box-shadow:         3px 0px 15px 0px rgba(34, 34, 34, 0.4);
}

/******** HEADER ************/
.header
{
	background: #334d5c;
	height: 110px;
	line-height: 110px;
}
.menu_toggle
{
	line-height: normal;
	position: fixed;
	top: 0px;
	max-width: 1100px;
	width: 100%;
	text-align: center;
	color: #fff;
	background: #45b29d;
	display: none;
	padding: 10px;
	margin-bottom: 0px;
	font-weight: 400;
	text-transform: uppercase;
}
.arrow
{
	font-size: 12px;
}
.name
{
	margin-left: 180px;
	font-size: 48px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
}
.social
{
	line-height: 135px;
	margin-right: 20px;
}
.social_icon
{
	color: #fff;
	-webkit-transition: font-size 0.2s ease-in;
	-moz-transition: font-size 0.2s ease-in;
	-o-transition: font-size 0.2s ease-in;
	transition: font-size 0.2s ease-in;
}
.social_icon:last-child
{
	margin-right: 0px;
}
.social_icon:hover
{
	font-size: 110%;
	color: #fff;
}

/********* MENU ****************/
.menu
{
	display: block;
	height: 100%;
	position: fixed;
	width: 180px;
	padding-top: 120px;
	background: #334d5c;
	font-weight: 200;
}
.menu_list
{
	list-style: none;
}
.menu_list li
{
	background: url('../img/menubg.png') no-repeat;
	height: 77px;
	line-height: 77px;
	margin-left: -22px;
}
.menu_item
{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}
.menu_item:hover
{
	text-decoration: underline;
	color: #fff!important;
}
.menu_item.selected
{
	font-weight: 400;
}
.menu_text
{
	margin-left: 35px;
}
.menu_text i
{
	margin-right: 5px;
}
/******** CONTENT *********/
.content
{
	margin-left: 180px;
	color: #525763;
	background: #fff;
	z-index: 100
}
.content_inner
{
	padding: 20px;
}
.column
{
	float: left;
	height: 100%;
}
.column_with_img
{
	float: left;
	height: 100%;
	text-align: center;
}
.wide
{
	width: 70%;
	margin-right: 5%;
}
.narrow
{
	width: 25%;
}
.super_wide
{
	width: 75%;
	margin-right: 5%;
}
.super_narrow
{
	width: 20%;
}
.full
{
	width: 100%;
}
.scaleimg
{
	max-width: 100%;
	height: auto;
}
.overlap
{
	position: fixed;
	top: 0;
	left: 50%;
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
	/* center a fluid div using magical translate */
	-webkit-transform: translate(-50%, 0%);
	-moz-transform:    translate(-50%, 0%);
	-ms-transform:     translate(-50%, 0%);
	-o-transform:      translate(-50%, 0%);
	transform:         translate(-50%, 0%);
	-webkit-box-shadow: 3px 0px 15px 0px rgba(34, 34, 34, 0.4);
	-moz-box-shadow:    3px 0px 15px 0px rgba(34, 34, 34, 0.4);
	box-shadow:         3px 0px 15px 0px rgba(34, 34, 34, 0.4);
}
.button
{
	display: inline-block;
	color: #fff;
	background: #45b29d;
	padding: 5px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	border-radius:         4px;
	-webkit-transition: background 0.2s ease-in;
	-moz-transition: background 0.2s ease-in;
	-o-transition: background 0.2s ease-in;
	transition: background 0.2s ease-in;
	text-align: center;
	margin-bottom: 10px;
}
.button:hover
{
	background: #5cecd0;
	color: #fff;
}
.pagination
{
	max-width: 610px;
	width: 100%;
}
.page_number
{
	text-align: center;
}
.blog_date
{
	font-style: italic;
	font-size: 90%;
}
.twitter-typeahead
{
	width: 100%;
}
#search
{
	display: block;
	outline: none;
	width: 100%;
	background-color: transparent;
	background-image: none;
	border: 3px solid #bdc3c7;
	font-size: 15px;
	line-height: 1.467;
	padding: 8px 12px;
	height: 42px;
	-webkit-appearance: none;
	border-radius: 6px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s, border-radius .25s, linear, linear;
	transition: border .25s border-radius .25s, linear, linear;
}
#search:focus
{
	border: 3px solid #45b29d;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;

}
.tt-query
{
	width: 110px;
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 1px solid #eaeaea;
	margin-top: 1px;
	background-color: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.tt-query:focus
{
	width: 110px;
	background-color: #fff;
	border: 1px solid #eaeaea;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.tt-hint
{
	display: none;
}
.tt-dropdown-menu
{
	width: 100%;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border: 3px solid #45b29d;
}
.tt-suggestion
{
	padding: 5px;
}
.tt-suggestion p
{
	margin: 0;
}
.tt-suggestion.tt-is-under-cursor
{
	color: #fff;
	background-color: #45b29d;
}
.post-date
{
	color: #aaa;
	font-size: 12px;
}
.tt-is-under-cursor .post-date
{
	color: #fff;
	font-size: 12px;
}
.sidebar_link
{
	color: #fff;
}
.sidebar_link:hover
{
	color: #fff;
}
.sidebar_item
{
	background: rgba(51,77,92, 0.8);
	padding: 10px 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	border-radius:         4px;
	-webkit-transition: background 0.2s ease-in;
	-moz-transition: background 0.2s ease-in;
	-o-transition: background 0.2s ease-in;
	transition: background 0.2s ease-in;
	text-align: center;
}
.sidebar_item:hover
{
	cursor: pointer;
	background: rgba(51,77,92, 1);
}
.sidebar_item a
{
	color: #fff;
}
.post_search
{
	margin-bottom: 15px;
}

.text_input
{
	display: block;
	outline: none;
	width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
	background-image: none;
	border: 3px solid #bdc3c7;
	font-size: 15px;
	line-height: 1.467;
	padding: 8px 12px;
	height: 42px;
	-webkit-appearance: none;
	border-radius: 6px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s linear, linear;
	transition: border .25s linear, linear;
}
.text_input:focus
{
	border: 3px solid #45b29d;
}
.text_input.long
{
	height: 200px;
	width: 100%;
}
.submit
{
	border: none;
	padding: 10px;
	width: 100%;
	font-size: 16px;
	outline: none;
}
.submit:hover
{
	cursor: pointer;
}
.honey_pot
{
	display: none;
}
.hide
{
	display: none;
}
.form_control
{
	text-align: center;
}
.form_control p
{
	margin-bottom: 0px;
	font-size: 20px;
}
.success
{
	color: #2ecc71;
}
.fail
{
	color: #e74c3c;
}
/******** GALLERY ********/
.gallery_thumb
{
	float: left;
	height: 270px;
	overflow: hidden;
	padding: 5px;
	margin: 5px;
	background: #bdc3c7;
	-webkit-border-radius: 6px;
	-moz-border-radius:    6px;
	border-radius:         6px;
	-webkit-transition: background .25s linear, linear;
	transition: background .25s linear, linear;
}
.gallery_thumb:hover
{
	background: #45b29d;
	cursor: pointer;
}

.gallery_image
{
	-webkit-border-radius: 6px;
	-moz-border-radius:    6px;
	border-radius:         6px;
}

.yellow
{
	background: #efc94c;
	z-index: -50;
	margin-left: 20px;
}
.orange
{
	background: #e27a3f;
	z-index: -75;
	margin-left: 40px;
}
/******** FOOTER *********/
.footer
{
	margin-left: 180px;
	height: 95px;
	background: #334d5c;
	color: #fff;
}
.copy
{
	line-height: 95px;
	margin-bottom: 0px;
}
.footer_nav
{
	list-style: none;
	text-align: right;
	margin-right: 20px;
	font-size: 14px;
	margin-top: 4px;
	line-height: 17px;
}
.footer_nav a
{
	text-decoration: none;
	color: #fff;
}

/*small screens*/
@media only screen and (max-width: 960px) {
	.menu
	{
		width: 125px;
		display: block;
	}
	.menu i
	{
		display: none;
	}
	.content,
	.footer,
	.name
	{
		margin-left: 125px;
	}
}
/*tablet size*/
@media only screen and (max-width: 650px) {
	.menu_toggle
	{
		display: block;
	}
	.menu
	{
		display: none;
		width: 100%;
		position: fixed;
		top: 39px;
		padding-top: 0px;
		text-align: center;
		height: auto;
		font-weight: normal;
	}
	.menu_list li
	{
		background: url() #45b29d;
		margin-left: 0px;
		height: 40px;
		line-height: 40px;
		margin-bottom: 2px;
	}
	.menu_list li:first-child
	{
		margin-top: 2px;
	}
	.menu_text
	{
		margin-left: 0px;
	}
	.menu_item.selected
	{
		text-decoration: underline;
	}
	.content,
	.footer,
	.name
	{
		margin-left: 0px;
	}
	.copy
	{
		margin-left: 20px;
	}
	.header
	{
		margin-top: 39px;
	}
	.column,
	.column_with_img
	{
		float: none;
		width: 100%;
	}
	.pagination
	{
		margin-bottom: 30px;
	}
}

/* mobile size*/
@media only screen and (max-width: 441px) {
	.name
	{
		margin-bottom: 0px;
		margin-left: 10px;
		margin-top: 10px;
	}
	.social
	{
		float: left;
		line-height: inherit;
		margin-left: 5px;
	}
	.header
	{
		height: 135px;
		line-height: 60px;
		margin-top: 39px;
	}
}

/* At height of menu, go to mobile view*/
@media only screen and (max-height:620px){
	.menu_toggle
	{
		display: block;
	}
	.menu
	{
		display: none;
		max-width: 1100px;
		width: 100%;
		position: fixed;
		top: 39px;
		padding-top: 0px;
		text-align: center;
		height: auto;
		font-weight: normal;
	}
	.menu_list li
	{
		background: url() #45b29d;
		margin-left: 0px;
		height: 40px;
		line-height: 40px;
		margin-bottom: 2px;
	}
	.menu_list li:first-child
	{
		margin-top: 2px;
	}
	.menu_text
	{
		margin-left: 0px;
	}
	.menu_item.selected
	{
		text-decoration: underline;
	}
	.content,
	.footer
	{
		margin-left: 0px;
	}
	.name,
	.copy
	{
		margin-left: 10px;
	}
	.header
	{
		margin-top: 39px;
	}
	.pagination
	{
		max-width: 738px;
		width: 100%;
		margin-bottom: 30px;
	}
	.text_input.long
	{
		height: 200px;
		max-width: 742px;
	}
}