<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/highlight.css">
		<link rel="stylesheet" href="/css/jquery.lightbox.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="/js/modernizr.js" type="text/javascript"></script>
		<title>{% if page.title %}{{ page.title }} | {% endif %} Ben Short Web Design Bude</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="menu_toggle">Menu <span class='arrow'>&#x25BC;</span></div>
			<nav class="menu">
				<ul class="menu_list">
					<a class='menu_item' href="/">
						<li><span class='menu_text'><i class='fa fa-home fa-fw'></i>Home</span></li>
					</a>
					<a class='menu_item' href="/portfolio/">
						<li><span class='menu_text'><i class="fa fa-picture-o fa-fw"></i>Portfolio</span></li>
					</a>
					<a class='menu_item' href="/blog/">
						<li><span class='menu_text'><i class="fa fa-comment-o fa-fw"></i>Blog</span></li>
					</a>
					<a class='menu_item' href="/contact/">
						<li><span class='menu_text'><i class="fa fa-pencil fa-fw"></i>Contact</span></li>
					</a>
					<a class='menu_item' href="/links/">
						<li><span class='menu_text'><i class="fa fa-external-link fa-fw"></i>Links</span></li>
					</a>
				</ul>
			</nav>
			<div class="header">
				<p class='name left'>Ben Short</p>
				<div class="social right">
					<a href="https://www.linkedin.com/pub/ben-short/84/b94/976" class="social_icon linkedin" title="View my Linkedin Profile">
						<i class="fa fa-linkedin-square fa-3x fa-fw"></i>
					</a>
					<a href='https://github.com/kensington133' target="_blank" class="social_icon github" title="Check out some of my work on GitHub">
						<i class="fa fa-github fa-3x fa-fw"></i>
					</a>
					<a href='https://twitter.com/_benshort' target="_blank" class="social_icon twitter" title='View my latests tweets on twitter'>
						<i class="fa fa-twitter-square fa-3x fa-fw"></i>
					</a>
				</div>
			</div>
			<div class="content">
				<div class="content_inner">
