{% if paginator.total_pages > 0 %}
<div class="pagination">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a href="/blog/" class="previous">&laquo; Previous</a>
		{% else %}
			<a href="{{ paginator.previous_page_path }}" class="previous left">&laquo; Previous</a>
		{% endif %}
	{% endif %}

	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next right">Next &raquo;</a>
	{% endif %}
	<div class="clear"></div>
	<div class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</div>
</div>
{% endif %}