---
layout: blog
---
<div class="wide column">

	{% for post in paginator.posts %}
		{% if post.tags contains 'portfolio' %}

		{% else %}
		<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
			<h2 itemprop="name headline">{{ post.title }}</h2>
			<div itemprop="articleBody">
				{{post.content}}
			</div>
			<p class='blog_date'>Posted on <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_long_string }}</time></p>
		</article>
		<hr>
		{% endif %}
	{% endfor %}
	{% include pagination.html %}

</div>
<div class="narrow column">
	{% include sidebar.html %}
</div>