---
layout: default
---
<h1>Portfolio</h1>
<div class="wide column">
	{% for post in site.posts %}
		{% if post.tags contains 'portfolio' %}
			{% if post.content contains '<!--cut-->' %}
			<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
				<h2 itemprop="name headline">{{ post.title }}</h2>
				<div itemprop="articleBody">
					{{post.content | split:'<!--cut-->' | first}}
				</div>
				<a class='button' href="{{post.url}}">View Post &raquo;</a>
			</article>
			<hr>
			{% endif %}
		{% endif %}
	{% endfor %}
	{% include pagination.html %}
</div>
<div class="narrow column">
	{% include sidebar.html %}
</div>