---
layout: portfolio
---
<div class="wide column">
	{% for post in site.posts %}
		{% if post.tags contains 'portfolio' %}
		<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
			<h2 itemprop="name headline">{{ post.title }}</h2>
			{% if page.galleryid %}
				{% if gallery.id == page.galleryid %}
					<ul class='list no_bullets'>
						{% for image in gallery.images %}
							<li>
							<img src="{{ gallery.imagefolder }}/{{ image.filename }}">
							<p>{{ image.text }}</p>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endif %}
			<div itemprop="articleBody">
				{{post.content}}
			</div>
		</article>
		<hr>
		{% endif %}
	{% endfor %}
	{% include pagination.html %}
</div>
<div class="narrow column">
	{% include sidebar.html %}
</div>