.points
{
	text-align: center;
	margin-right: 20px;
}
.points p
{
	margin-bottom: 0.1rem;
}
.clear
{
	clear: both;
}
.panel .thumb
{
	margin-right: 20px;
}
.panel h4
{
	overflow: hidden;
	line-height: 1.3;
}
.panel .bottom
{
/* 	margin-top: 20px; */
}