{% include header.html %}
	<a href="/portfolio/" class="button">&laquo; Back</a>
	<h1 itemprop="name headline">{{page.title}}</h1>

	{{ content }}

	<p class="blog_date">Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_long_string }}</time></p>

	{% if page.galleryid %}
	<h2>Gallery</h2>
	{% for gallery in site.data.galleries %}

		{% if gallery.id == page.galleryid %}
			<ul class='list no_bullets gallery'>
				{% for image in gallery.images %}
					<li class='gallery_thumb'>
						<a href="{{gallery.imagefolder}}{{image.filename}}" data-caption="{{image.text}}">
							<img src="{{ gallery.thumbfolder }}{{ image.filename }}">
						</a>
					</li>
				{% endfor %}
			</ul>
		<div class="clear"></div>
		{% endif %}
	{% endfor %}
	{% endif %}

{% include footer.html %}